<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD8c69Q3l2ujYxG72s-gz13RG1mt6nrKuE</string>
	<key>GCM_SENDER_ID</key>
	<string>554686005938</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nisaticaret.nisaTicaret</string>
	<key>PROJECT_ID</key>
	<string>nisa-ticaret</string>
	<key>STORAGE_BUCKET</key>
	<string>nisa-ticaret.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554686005938:ios:07913650bf9843e965ffab</string>
</dict>
</plist>